doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta( name="viewport", content="width=device-width, initial-scale=1.0")
    script(src = "//cdn.bootcss.com/jquery/2.1.4/jquery.min.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  body(style='padding-top: 70px;padding-bottom: 20px;')
    input(type='hidden',value=session, name='session')
    div#react
    
    script(src='/app/js/main.js')
    
